<h2>Cambio de clave</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Clave nueva" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirma la clave nueva " %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Cambiar mi clave" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>